@model IEnumerable<CoreGeneric.Models.Entity.FilmTur>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Ekle">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilmTurID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TurAd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FilmTurID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TurAd)
            </td>
            <td>
                @Html.ActionLink("Guncel", "Guncel", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detay", "Detay", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Sil", "Sil", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
