@model CoreGeneric.Models.FilmModel

@{
    ViewData["Title"] = "Detay";
}

<h1>Detay</h1>

<div>
    <h4>FilmModel</h4>
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Film.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Film.Ad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Film.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Film.Ad)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Detay", "Detay", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
